<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trips</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<style>
    .card-img-top {
        width: 100%;
        height: 180px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" th:href="@{/trip}">
            <img src="https://cdn-icons.flaticon.com/png/512/2200/premium/2200326.png?token=exp=1654271621~hmac=fc2a4bb11bd8921739bf7ea108534edd"
                 alt="logo" width="40" height="34" class="d-inline-block align-text-top">
            Travel & Enjoy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Trips
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/trip/country/moldova}">Moldova</a></li>
                        <li><a class="dropdown-item" th:href="@{/trip/country/romania}">Romania</a></li>
                        <li><a class="dropdown-item" th:href="@{/trip/country/bulgaria}">Bulgaria</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Hotels
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/hotel}">5 Stars</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservation}" > My trips </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <!-- Jumbotron -->
<!--    <div-->
<!--            class="bg-image text-center shadow-1-strong rounded mb-3 text-white"-->
<!--            style="background-image: url('https://media.cntraveler.com/photos/581250f2997d59497dccf8bc/16:9/w_2560%2Cc_limit/GettyImages-185298837.jpg');-->
<!--    max-width: 100%;-->
<!--    max-height: 100%;"-->
<!--    >-->
<!--        <h1 class="mb-3 h2">Travel with us!</h1>-->

<!--        <p>-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium-->
<!--            labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum-->
<!--            neque maiores dolorem unde? Aut dolorum quod excepturi fugit.-->
<!--        </p>-->
<!--    </div>-->
    <!-- Jumbotron -->

<!--    <div id="headerwrap" style="background: url(https://techcrunch.com/wp-content/uploads/2021/12/FF8DDkpWYAAJc3Y.jpeg);-->
<!--	margin-top: -70px;-->
<!--	padding-top: 250px;-->
<!--	text-align:center;-->
<!--	background-attachment: relative;-->
<!--	background-position: center center;-->
<!--	min-height: 550px;-->
<!--	width: 100%;-->
<!--  opacity: 0.98;">-->
<!--        <div class="container">-->
<!--            <h1> Travel with us!</h1>-->
<!--        </div>-->
<!--    </div>-->


    <div class="container">
        <div class="row">
            <h1>Your reservations</h1>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Trip</th>
                <th>Price</th>
                <th>Reservation Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation: ${reservations}">
                <td th:text="${reservation.reservationId}"></td>
                <td th:text="${reservation.trip.name}"></td>
                <td th:text="${reservation.trip.price}">$</td>
                <td th:text="${reservation.status}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>