<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trips</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<style>
    .card-img-top {
        width: 100%;
        height: 180px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" th:href="@{/trip}">
            <img src="https://image.similarpng.com/very-thumbnail/2021/08/Illustration-of-Travel-agency-logo-design-template-on-transparent-background-PNG.png"
                 alt="logo" width="40" height="34" class="d-inline-block align-text-top">
            Travel & Enjoy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Trips
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/trip/country/moldova}">Moldova</a></li>
                        <li><a class="dropdown-item" th:href="@{/trip/country/romania}">Romania</a></li>
                        <li><a class="dropdown-item" th:href="@{/trip/country/bulgaria}">Bulgaria</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Hotels
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/hotel}">5 Stars</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservation}" > My trips </a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">


    <div class="container-xl">
        <div class="row">
            <h1>Trips</h1>
        </div>

        <div class="col-md-4 col-6 col-lg-3 mt-4 col"
             style="margin: 0;display: flex;width: fit-content;flex-direction: row; height: available">
            <div class="card" th:each="trip: ${trips}">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{${trip.image.imageUrl}}"
                         class="card-img-top" alt="moldova">
                    <div class="card-body">

                        <h5 class="card-title" th:text="${trip.name}"></h5>
                        <b class="cart-text" th:text="${trip.price}"></b><b> $ </b><br>
                        <a class="btn btn-primary" th:href="@{/trip/{id}(id=${trip.id})}">More details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>